*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color:#242424;
    max-width:100%;
}
a{
    text-decoration: none;
    color:#fff;
}
li{
    list-style: none;
}
.bg-image{
    background-image: url("../images/pexels-dazzle-jam-1029783.webp");
    background-size: contain;
    width:100%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
   
}
.bg-image-overlay{
    background-color: rgba(0,0,0,0.5);
    height:inherit;
    width:inherit;
    

}
/*navigation bar*/
nav{
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    
}
.logo img{
    width:150px;
    
}
.navbar .nav-item a.nav-link{
    color:#fff;
    font-size: 14px;
}
.navbar .nav-item a.nav-link.active{
    border-bottom: 2px solid orangered;
}
.navbar .nav-item a.nav-link:hover{
    border-bottom: 2px solid orangered;
}
.nav-item .nav-link button.btn-donate{
    padding:10px;
    background-color: orangered;
    color:#fff;
    border:none;
    font-size: 12px;
}
.nav-item .dropdown-menu .dropdown-item:hover{
    background-color: orangered;
}
.hero-content{
    color:white;
    margin-top: 22%;
    line-break: auto;
}
.hero-header{
    padding-bottom:25px;
   
}
.hero-header h1{
    font-size: 60px;
    font-weight: 800px;
    line-height: 3rem;
}

.hero-paragraph p{
    font-size: 25px;
    line-height: 1.2rem;
    
}
.btn-donate{
    padding: 8% 0% 12% 0%;
}
.donate-btn{
    padding:20px 30px;
    background-color: orangered;
    color:white;
    border:none;
}
/*Each day,an estimated 734 children become orphans*/
.header-title{
    font-weight: 800;
    font-size: 30px;
}
.underline{
    border-bottom: 3px solid orangered;    
    width:10%;   
}
.btn-more{
    padding:10px 20px;
    background-color: orangered;
    border: 2px solid orangered;
    color:white;
}
.btn-more:hover{
    background-color: #fff;
    color:orangered;
}

/*our mission*/
.our-mission{
    background-color: #eee;
}
.mission-container{
    background-color: #eee;
}
/*By supporting an orphan you are supporting an entire community*/
.our-offer{
    position: relative;
    text-align: center;

}
.our-offer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}
.our-offer-text{
    position:absolute;
    color:white;
    top:80%;
   
    font-size: 25px;
}

/**/
.teressa{
    margin-bottom: 5%;
}
.meet-teressa{
    background-color: orangered;
}
.btn-her-story{
    padding:10px 20px;
    border: 2px solid white;
    background-color: white;
    color:orangered;
}
.btn-her-story:hover{
    background-color: orangered;
    color: white;

}
/**/
.related-row{
    justify-content: space-between;

   
}
.related h4{
    padding:15px 30px;
}
.related h4 a{
    color:black;
    font-weight: 700;
    font-size: 20px;
}
.related h4 a:hover{
    color:orangered;
}
/**/
.what-you-can-do{
    background-color: #eee;
}
.color-orange{
    background-color:orangered;
}
/**/
.take-action{
    color: #fff;
}
.white-btn{
    background-color: #fff;
    border:2px solid orangered;
    color:orange;
    padding:10px 20px;   
}
.white-btn:hover {
    background-color: orangered;
    border: 2px solid white;
    color: white;
   
}
/**/
.iframe-location{
    font-size: 0;
}
/*footer*/
.footer-logo img{
    width:100px;
    height: 20px;
}
.footer-address{
    color: #000006;
    font-family: "Circe", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.footer-link{
    background-color: #eee;
}
.footer-nav .footer-links a{
    color:black;
    line-height: 2.5rem;
    font-size: 15px;
    font-weight: 700;
}
a.fontawesome-link{
    color:black;
    padding:0px 5px;
}
.btn-sign-up{
    padding:10px 20px;
    color:#fff;
    border: none;
    background-color: orangered;
}
.btn-sign-up:hover{
    border-bottom: 2px solid white;
}
.sub-footer{
    display:flex;
    justify-content: space-between;
    font-size: 14px;
}
.sub-footer- li{
    display:inline;
}
.sub-footer- li a{
    color:black;
    padding:0px 10px;
}
@media screen and (max-width:400px){
    
}